<div class="emails-container">
  <div class="side-panel">
    <div class="nav-bar">
      <div class="create-email">
        <i class="fas fa-plus"></i>
      </div>
    </div>
    <div class="content">
      <div class="folders">
        <div class="inbox toggled"><i class="fas fa-inbox"></i></div>
        <div class="sent"><i class="fas fa-paper-plane"></i></div>
        <div class="draft"><i class="fas fa-sticky-note"></i></i></div>
        <div class="trash"><i class="fas fa-trash"></i></div>
      </div>
      <div class="email-lists">
        <ul class="email-list">
        </ul>
      </div>
    </div>
  </div>
  <div class="main-panel">
    <div class="nav-bar">
      <div class="user-button"></div>
      <div class="username">
        <p>Lester Dela Cruz</p>
      </div>
    </div>
    <div class="user-info">
      <div>
        <div class="controls">Profile</div>
        <div class="controls">Settings</div>
      </div>
      <div class="controls sign-out">Sign Out</div>
    </div>
  </div>
</div>
